.main{
    
    width: 1200px;
    height: 500px;
}

body{
    background-color: darkviolet;
    margin-left: 100px;
    margin-right: 200px;
    margin-top: 100px;
    margin-bottom: 100px;
    position: relative;
    
}
.header-area{
    background-image: url("C:/Users/Admin/Desktop/HTML Project/img/header-bg.jpg"); 
    height: 580px;
}
.container{
    height: 200px;
    opacity: 1.0;
}
.banner .one {   
    text-align: center;    
}
.one a{
     text-decoration: none;
    color: white;
}
.best-partner{
    text-transform: uppercase;
    font-family: "Courier New" monospace;
    color: white;
    font-size: 25px;
    text-align: center;
}
.pemodue-header{
    font-size: 80px;
    color: white;
    text-align: center;
}
.logo{
    float:left;
}
.main-menubar{
    float:right;
    color: white;
    text-decoration: none;
}
.main-menubar .hide a{
    color: white;
    text-decoration: none;
    margin-right: 20px
}

@media screen and (max-width:500px) {
  .logo, .main-menubar {
    width:100%; 
  }
}
section{
    background-color: white;
    width: 1200px;
    overflow: auto;
}
.feature-left{
    border: 1px solid white;
    float: left;
    width: 480px;
    margin-right: 700px;
    margin-left: 5px;
    padding-top: 150px;
}


.feature-right{
    border: 1px solid white;
    float: right;
    width: 480px;
    margin-left: 400px;
    margin-right: 100px;
    padding-top: 0px;
}
.col-divide{
    border: 1px solid white;
    float: right;
}
@media screen and (max-width:500px) {
  .feature-left, .col-divide {
    width:100%; 
  }
}
